<link rel="stylesheet" href="/css/user_profile.css">

<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">

<% if (user.id == user_profile.id){%>
    <form action="/users/update/<%= user_profile.id %>" enctype="multipart/form-data" method="post">
         <input type="text" name="name" placeholder="Write name" value="<%= user_profile.name %>" required>
         <input type="text" name="email" placeholder="Your email" value="<%= user_profile.email %>" required>
         <input type="file" name="avatar" placeholder="Your Profile Picture">
         <input type="submit" value="Update">
    </form>
<% } else { %> 
    <p><%= user_profile.name %></p>
    <p><%= user_profile.email %></p>
<% } %>

